@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.tools-filter input[type='checkbox'] {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  opacity: 0;
  z-index: -1;
}

html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}

.slick-dots > li > button::before {
  color: #ffb300;
}

.slick-dots > li.slick-active > button::before {
  color: #ffb300;
}

.container {
  transition: height 0.3s ease;
}

.ReactCollapse--collapse {
  max-width: 800px;
  transition: height 500ms;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}









